/*=== Colors ===*/
:root {
    --first-color: #12192c;
    --text-color: #8590ad;
}

:root {
    --body-font: Arial, sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: 5vh auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    background-color: white;
}

@media screen and (min-width: 1024px) {
    :root {
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }

    .modal-content {
        max-width: 500px; /* Smaller width for laptop screens */
        max-height: 500px; /* Smaller height for laptop screens */
    }
}


@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 2.5rem;
        --normal-font-size: 1rem;
    }

    .modal-content {
        max-width: 600px; /* Smaller width for laptop screens */
        max-height: 1000px; /* Smaller height for laptop screens */
    }
}


/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    /*font-family: var(--body-font);*/
    color: var(--first-color);
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
}

/*===== FORM =====*/
#Login-DatCT .l-form {
    position: relative;
    /*height: 70vh;*/
    overflow: hidden;
}

/*=== Shapes ===*/
#Login-DatCT .shape1,
#Login-DatCT .shape2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#Login-DatCT .shape1 {
    top: -7rem;
    left: -3.5rem;
    background: linear-gradient(
            180deg,
            var(--first-color) 0%,
            rgba(196, 196, 196, 0) 100%
    );
}
#Login-DatCT .shape2 {
    bottom: -6rem;
    right: -5.5rem;
    background: linear-gradient(
            180deg,
            var(--first-color) 0%,
            rgba(196, 196, 196, 0) 100%
    );
    transform: rotate(180deg);
}
/*=== Form ===*/
#Login-DatCT .form {
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
#Login-DatCT .form__content {
    width: 250px;
}

#Login-DatCT .form__title {
    font-size: var(--big-font-size);
    font-weight: 500;
    margin-top: -5rem;
    margin-bottom: 3.5rem;
    text-align: center;
}
#Login-DatCT .form__div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin-bottom: 2rem;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--text-color);
}
/*=== Div focus ===*/
#Login-DatCT .form__div.focus {
    border-bottom: 1px solid var(--first-color);
}

#Login-DatCT .form__div-one {
    margin-bottom: 3rem;
}

#Login-DatCT .form__icon {
    font-size: 1.5rem;
    color: var(--text-color);
    transition: 0.3s;
}
/*=== Icon focus ===*/
#Login-DatCT .form__div.focus .form__icon {
    color: var(--first-color);
}

#Login-DatCT .form__label {
    display: block;
    position: absolute;
    left: 0.75rem;
    top: 0.25rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: 0.3s;
}
/*=== Label focus ===*/
#Login-DatCT .login__eye {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
}

#Login-DatCT .form__div.focus .form__label {
    top: -1.5rem;
    font-size: 0.875rem;
    color: var(--first-color);
}

#Login-DatCT .form__div-input {
    position: relative;
}
#Login-DatCT .error__message {
    width: max-content;
    height: max-content;
    position: absolute;
    color: red;
    top: 3rem;
    bottom: 2rem;
    margin: auto 0;
    font-size: 0.75rem;
}

#Login-DatCT .login__fail_message {
    position: absolute;
    top: -2.2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    color: red;
    font-size: 1rem;
    padding: 10px; /* Optional: for better visibility */
    border-radius: 5px; /* Optional: rounded corners */
}

#Login-DatCT .form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-color: transparent !important;
    outline: none !important;
    background: none;
    padding: 0.1rem 0.75rem;
    font-size: 1.2rem;
    color: var(--first-color);
    transition: 0.3s;
}

#Login-DatCT .form__input:focus{
    outline: none;
    box-shadow: none;
    border:1px solid #c0bebe;
}

#Login-DatCT .form__check {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#Login-DatCT .form__remember {
    display: inline-block;
    text-align: left;
    margin-bottom: 1.5rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
    transition: 0.5s;
}
#Login-DatCT .form__remember:hover {
    color: var(--first-color);
    transition: 0.5s;
}
#Login-DatCT .form__forgot {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 500;
    transition: 0.5s;
}
#Login-DatCT .form__forgot:hover {
    color: var(--first-color);
    transition: 0.5s;
}
#Login-DatCT .form__button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    margin-bottom: 1.5rem;
    background-color: var(--first-color);
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    height: 3rem;
}
#Login-DatCT .form__button:hover {
    box-shadow: 0 15px 36px rgba(0, 0, 0, 0.15);
}

/*=== Form social===*/
#Login-DatCT .form__social {
    text-align: center;
}
#Login-DatCT .form__social-text {
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}
#Login-DatCT .form__social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: var(--text-color);
    color: #fff;
    font-size: 1.25rem;
    border-radius: 50%;
}
#Login-DatCT .form__social-icon:hover {
    background-color: var(--first-color);
}
