:root {

    --text-color-span: Roboto, -apple-system, BlinkMacSystemFont, Roboto, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root :is(input, textarea, button, select):focus {
    outline: none;
    box-shadow: none;
    border:1px solid #c0bebe;
}

body {

}

#create-ct span {
    font-size: 14px;
    opacity: 1;
    font-family: var(--text-color-span);
}
#create-ct input ,#create-ct textarea{
    border: 1px solid #888;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14.5px !important;
}
#create-ct select{
    font-size: 14.5px !important;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-appearance: none; /* Loại bỏ kiểu mặc định của trình duyệt */
    -moz-appearance: none;
    appearance: none;
}
#create-ct input::placeholder,#create-ct textarea::placeholder {
    /* Kiểu chữ và các thuộc tính khác ở đây */
    font-family: Arial, sans-serif;
    font-size: 13.4px;
    color: #888;
}

/* select {
    font-family: Arial, sans-serif;
    font-size: 13.4px;
    color: #888;
} */
#create-ct .btn{
    padding: 7px 14px ;
    border-radius: 3px;
    color: white ;
    border: none;
}
#create-ct .btn-2{
    padding: .4375rem .875rem ;
    background-color: #2196e3 ;
    border-radius: 3px;
    color: white ;
    border: none;
}
#create-ct .box__shadow{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
#create-ct table tr th{
    font-size: 13.5px;
    color: #333;
    padding: .7rem;
    font-family: var(--text-color-span);

}
#create-ct table tr td{
    font-size: 14.5px;
    color: #333;
    padding: .7rem;

}

#create-ct #modal-loading {
    position : absolute;
    display : block;
    top : 50%;
    left:  47%;
    right: auto;
    bottom: auto;
    margin : -50%
}

#create-ct .error-mess {
    margin-top: 0.5vh;
    font-size: 11px;
    color : red;
    display : block
}